.nav-item{
    margin-left: 25px;
}
i{
    width: 15px;
}
.container{
    margin-bottom: 100px;
}
.carousel-item{
    padding: 20px 40px;
}
.buy-now-button{
  
    border-radius: 8PX;
    padding: 9PX 25PX;
    cursor: pointer;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}
.card-footer{
    background-color: white;
    border-top: none;
   
}
.see-all{
    color: orange;
   margin-bottom: 20px;
    font-weight: bold;
    font-size: 25px;;
}
.top{
    margin-bottom: 40px;
}

.first-div{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
    margin-left: 210px;
}

.thirt-div{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
    margin-left: 10px;
    margin-top: -75px;
}
.second-div{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
    
 
}
.last{
    margin-left: 300px;margin-top: -120px;}
    .cat{
        font-size: 30px;
        font-weight: bold;
     
        border-bottom: 10px solid orange;
        border-radius: 10px;
    }

    